# /etc/systemd/system/mergerfs.service

[Unit]
Description=MergerFS Mount
After=network-online.target
Requires=zenstorage.service rclone_vfs.service
After=zenstorage.service rclone_vfs.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/mergerfs \
  -o category.create=ff,async_read=false,cache.files=partial \
  -o dropcacheonclose=true,use_ino,minfreespace=0 \
  -o xattr=nosys,statfs_ignore=ro,allow_other,umask=002,noatime \
  /mnt/local=RW:mnt/zenstorage/zd-*=RO:mnt/zenstorage-small/zd-*=RO:mnt/zenstorage-metadata/zd-*=RO /mnt/unionfs
ExecStop=/bin/fusermount -u /mnt/unionfs

[Install]
WantedBy=default.target
