[Unit]
Description=ZenStorage Mount
After=network-online.target

[Service]
User=seed
Group=seed
Type=notify
ExecStartPre=-/usr/bin/sudo /bin/mkdir -p /mnt/zenstorage
ExecStartPre=-/usr/bin/sudo /bin/chmod -R 775 /mnt/zenstorage
ExecStartPre=-/usr/bin/sudo /bin/chown -R seed:seed /mnt/zenstorage
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
  --config=/home/seed/.config/rclone/rclone.conf \
  --allow-other \
  --allow-non-empty \
  --async-read=true \
  --s3-chunk-size=256M \
  --rc \
  --rc-addr=localhost:5576 \
  --buffer-size=64M \
  --s3-disable-http2 \
  --attr-timeout=8760h \
  --dir-cache-time=8760h \
  --timeout=10m \
  --tpslimit=1000 \
  --umask=002 \
  --log-file=/var/log/rclone-zenstorage.log \
  --exclude 'zd-audiobooks-non-english/**' \
  --exclude 'zd-comics/**' \
  --exclude 'zd-ebooks/**' \
  --exclude 'zd-ebooks-non-english/**' \
  --exclude 'zd-magazines/**' \
  --exclude 'zd-music0/**' \
  --exclude 'zd-software/**' \
  --exclude 'zd-test/**' \
  -v \
  zenstorage: /mnt/zenstorage
ExecStop=/bin/fusermount -uz /mnt/zenstorage
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
